<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/appointment.css')}}">
    
    <!-- SweetAlert2 for user-friendly alerts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <title>Book an Appointment</title>
</head>
<body>
    <div class="container">
        <!-- Back button to return to homepage -->
        <button id="homepage" onclick="returnhomepage()">Back</button>
        
        <!-- Appointment Booking Form -->
        <form id="appointment" class="form-format">
            <h5>Book an appointment</h5>
            
            <!-- First Name Field -->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name">
            </div>
            <span class="hidden_field danger_color" id="error_first_name">Please provide first name <span class="danger_color">*</span></span>
            
            <!-- Last Name Field -->
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name">
            </div>
            
            <!-- Company Field -->
            <div class="form-group">
                <label for="company">Company:</label>
                <input type="text" id="company" name="Company">
            </div>
            <span class="hidden_field danger_color" id="error_company">Please provide Company <span class="danger_color">*</span></span>
            
            <!-- Email Field -->
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <span class="hidden_field danger_color" id="error_email">Please provide proper Email <span class="danger_color">*</span></span>

            <!-- Country Dropdown -->
            <div class="form-group">
                <label for="Country">Country</label>
                <select name="country[]" id="country"></select>
            </div>
            <span class="hidden_field danger_color" id="error_country">Please provide Country <span class="danger_color">*</span></span>

            <!-- City Dropdown -->
            <div class="form-group">
                <label for="City">City</label>
                <select name="city[]" id="city">
                    <option value="">select</option>
                </select>
            </div>
            <span class="hidden_field danger_color" id="error_city">Please provide City <span class="danger_color">*</span></span>

            <!-- Phone Number Field -->
            <div class="form-group">
                <label for="phone_number">Phone number</label>
                <input type="tel" id="phone_number" pattern="[0-9]+" inputmode="numeric" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>

            <!-- Submit Button -->
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script type="text/javascript">
    // Populate Country Dropdown
    async function countries(){
        const countries = ['India','Australia','Srilanka','United Kingdom','United States'];
        var country_options = "<option value=''>select</option>";
        countries.forEach(country => {
            country_options += "<option>"+country+"</option>";
        });
        document.getElementById("country").innerHTML =country_options;
    }

    // Populate City Dropdown
    async function cities()
    {
        const cities = ['Hyderabad','Delhi','Brisbane','Sydney','ceylon','London','Hampshire','Texas','California'];
        var city_options = "<option value=''>select</option>";
        cities.forEach(city => {
            city_options += "<option>"+city+"</option>";
        });
        document.getElementById("city").innerHTML = city_options;
    }

    // Call functions to populate dropdowns
    countries();
    cities();

    // Redirect back to homepage
    function returnhomepage()
    {
        window.location.replace("/");
    }
    
    // Form Submission Handling
    document.getElementById("appointment").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevents form from submitting and refreshing page
        const first_name = document.getElementById("first_name").value;
        const company = document.getElementById("company").value;
        const email = document.getElementById("email").value;
        const country = document.getElementById("country").value;
        const city = document.getElementById("city").value;

        // Validate fields and show error messages if empty
        if(first_name === "")
        {
            document.getElementById("error_first_name").classList.remove("hidden_field");
        }
        if(company === "")
        {
            document.getElementById("error_company").classList.remove("hidden_field");

        }
        if(email === "")
        {
            document.getElementById("error_email").classList.remove("hidden_field");

        }
        if(country === "")
        {
            document.getElementById("error_country").classList.remove("hidden_field");

        }
        if(city === "")
        {
            document.getElementById("error_city").classList.remove("hidden_field");

        }

        // If all required fields are filled, submit form via fetch API
        if(first_name!="" || company!="" || email!="" || country!="" || city!="")
        {
            let formData = new FormData(this);
            // Here we can print the form data using console.log(formData);
            fetch("/bookanappointment", {  // Sends data to Flask backend
                method: "POST",
                body: formData
            })
            .then(response => response.json()) 
            .then(data => {
                if (data.status === "success") {
                    console.log(data.output);
                    Swal.fire({
                        icon: "success",
                        title: "Success!",
                        text: data.message
                    }).then(()=>{
                        document.getElementById("appointment").reset();
                        window.location.replace("/");
                });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: data.message
                    });
                }
            })
            Swal.fire({
                title: "Success!",
                text: "Your form has been submitted.",
                icon: "success",
                confirmButtonText: "OK"
            });
        }
        
    });
</script>
</html>